<!DOCTYPE html>
<html lang="ja">
<head>
  <base target="_top">
  <meta charset="utf-8">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet"> 
  <!-- tailwind -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <?!= include('css'); ?>
</head>
<body>
  <div id="app" v-cloak>
    <?!= include('header'); ?>
    <div class="container mx-auto px-8 py-4">
      <form v-on:submit.prevent class="w-full flex">
        <!-- 入力フォーム -->
        <div class="flex-shrink-0 flex-1 px-2">
          <input class="w-full bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500" id="inline-searchWords" type="text" placeholder="けんさくワード" v-model="searchWords">
        </div>
        <!-- AND / OR -->
        <div class="flex w-40 py-2">
          <div class="flex justify-between">
            <div class="form-check form-check-inline px-5">
              <label class="form-check-label inline-block text-gray-800" for="orSearch"><input class="form-check-input form-check-input rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="radio" name="inlineRadioOptions" id="orSearch" value="orSearchOption" checked>OR</label>
            </div>
            <div class="form-check form-check-inline">            
              <label class="form-check-label inline-block text-gray-800" for="andSearch"><input class="form-check-input form-check-input rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="radio" name="inlineRadioOptions" id="andSearch" value="andSearchOption">AND</label>
            </div>
          </div>
        </div>
        <!-- genre filtering -->

        <!-- GO! -->
        <div class="flex-shrink-0 flex-1 px-2">
          <button v-on:click="loadData" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-8">けんさく！</button>
        </div>
      </form>
      <div class="flex">
        <p class="inline-flex items-center">
          {{message}}
          <span class="ml-5">
            <svg v-show="loading" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="motion-reduce:hidden animate-spin -ml-1 h-5 w-5 text-black">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </span>
        </p>
      </div>
    </div>
    <!-- テーブルのヘッダーどこでどうしようか迷ったがhtml側にハードコーディングといくぜ -->
    <div class="container mx-auto px-8">
      <table class="w-full table-auto">
        <thead>
          <tr>
            <th scope="col" v-for="(h, idx) in tableHeader" v-bind:key="idx" class="px-6 py-5">{{h}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, idx) in items" v-bind:key="idx" class="bg-gray-100 border-b border-gray-700 mx-4 my-8">
            <td v-for="h in sheetHeader" class="border px-3 py-2 whitespace-nowrap text-left">{{row[h]}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ここにページネーションが入る とりあえずailwindのサンプルからベタ書き -->
    <template v-if="paginateState !== null">
      <div class="py-10 flex justify-center">
        <nav aria-label="Page navigation">
          <ul class="flex list-style-none space-x-8">
            <li v-if="paginateState !== 'onFirstPage'" class="prev">
              <button v-on:click="prePage" class="border-2 border-blue-400 hover:bg-gray-300 text-blue font-bold py-2 px-10 rounded-full transition duration-150 ease-in-out"><span aria-hidden="true">&laquo;</span>もどる</button>
            </li>
            <li v-if="paginateState !== 'onLastPage'" class="nex">
              <button v-on:click="nexPage" class="border-2 border-blue-400 hover:bg-gray-300 text-blue font-bold py-2 px-10 rounded-full transition duration-150 ease-in-out"><span aria-hidden="true">&raquo;</span>すすむ</button>
            </li>
          </ul>
        </nav>
      </div>
    </template>

  
    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
      <p class="mx-auto m-8 px-5">以下はただのデバッグ用なので（GASだとめちゃくちゃしんどい）気にしないでください</p>
    </div>
    <pre>{{$data}}</pre>
  </div>
  <!-- vue.js -->
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <?!= include('js'); ?>
</body>
</html>
