<!DOCTYPE html>
<html lang="ja">
<head>
  <base target="_top">
  <meta charset="utf-8">
  <?!= include('css'); ?>
  <!-- vue.js -->
</head>
<body>
  <div id="app">
    <form v-on:submit.prevent>
      <!-- <input type="text" v-model="newItem"> -->
      <!-- <button v-on:click="loadData">データ取得！</button> -->
      <button v-on:click="loadData">データ取得！</button>
    </form>
    <!-- テーブルのヘッダーどこでどうしようか迷ったがhtml側にハードコーディングといくぜ -->
    <ul>
      <li v-for="h in tableHeader">
        {{h.text}}
      </li>
    </ul>
    <p>テーブルここから</p>
    <table>
      <thead>
        <tr>
          <th v-for="(h, idx) in tableHeader" v-bind:key="idx">{{h}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, idx) in items" v-bind:key="idx">
          <td v-for="h in tableHeader">{{row[h]}}</td>
        </tr>
      </tbody>
    </table>
    <p>テーブルここまで</p>
    <ul>
      <li v-for="item in items">
        {{ item["本の名前"] }}
      </li>
    </ul>
    <pre>{{$data}}</pre>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <?!= include('js'); ?>
</body>
</html>
