<form v-on:submit.prevent class="w-full flex flex-col md:flex-row">
    <div class="inline-flex flex-col flex-auto">
      <div class="flex-shrink-0 flex-1 px-2">
        <input class="w-full text-xl bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500" id="inline-searchWords" type="text" placeholder="けんさくワード" v-model="searchWords">
      </div>
      <!-- experimental_kana_include_search -->
      <!-- <div class="inline-flex justify-end mt-2">
        <label class="inline-flex items-center">
          <input type="checkbox" class="w-6 h-6 rounded"  />
          <span class="ml-2">ひらがなよみ </span>
        </label>
      </div> -->
      <div class="inline-flex justify-end mt-2">
        <label class="inline-flex items-center">
          <input type="checkbox" class="w-6 h-6 rounded" v-model="includeAuthorName"/>
          <span class="ml-2">人名をふくむ </span>
        </label>
      </div>
    </div>
    <!-- AND / OR -->
    <div class="flex w-40 py-2">
      <div class="flex justify-between">
        <div class="form-check form-check-inline px-5">
          <label class="form-check-label inline-block text-gray-800" for="orSearch"><input class="form-check-input form-check-input rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="radio" name="orOption" id="orSearch" value="OR" v-model="andOrOption" checked>OR</label>
        </div>
        <div class="form-check form-check-inline">            
          <label class="form-check-label inline-block text-gray-800" for="andSearch"><input class="form-check-input form-check-input rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="radio" name="andOption" id="andSearch" value="AND" v-model="andOrOption">AND</label>
        </div>
      </div>
    </div>
    

    <!-- GO! -->
    <div class="flex-shrink-0 flex-1 px-2">
      <button v-on:click="loadData" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-8">けんさく！</button>
    </div>
    <!-- search options -->
    
  </form>